html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: #FFFEF8;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 90px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 30px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
.log{
	cursor: pointer;
	text-decoration: none;
	list-style-type: none;
	color: black;
}
.log:hover{
	color: #B1663C;
}
#logoutbtn{
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#projects-title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.fa-regular{
    font-size: 15px;
	margin-left: 20px;
	margin-right: 10px;
	color: black;
}
#projects span{
	color: black;
	font-size: 15px;
	font-weight: 200;
	cursor: pointer;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 60px;
}
.filters button {
    min-width: 100px;
    font-size: 16px;
    color: #1d6154;
    font-family: "Syne";
    border: #1d6154 solid 1px;
    border-radius: 50px;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #fff;
    margin: 0 0.2rem;
}


.added_filter{
	display: none;
}
.active{
	background-color: #1d6154 !important;
	color: #fff !important;
   
}

.modal{
	position: fixed;
    display: none;
    left:0;
	top: 0;
	z-index:100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal-work img{
	
	height: 104px;
    width: 78.12px;
	object-fit: cover;
}
.modal-work{
	position: relative;
}
.list-works{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 15px;
	padding: 46px 50px 45px 50px;
}
.delete-work{
	position: absolute;
	top: 5px;
	right: 5px;
}
hr{
	width: 420px;
    border: solid 1px #b3b3b3;
}
.fa-trash-can{
	position: fixed;
    margin-top: 6px;
    margin-left: -41px;
    padding: 3px;
    font-size: 10px;
    color: white;
    background-color: #000;
    border-radius: 2px;
    cursor: pointer;
}
.modal-addwork{
	position: fixed;
    display: none;
    left:0;
	top: 0;
	z-index:100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal-form{
 width: 630px;
 height: 637px;
 background-color: #fff;
 border-radius: 10px ;
 margin: 10% auto;
 position: relative;
 padding: 32px 30px 48px 30px;
}
.galerie-photos{
 width: 630px;
 height: 615px;
 background-color: #fff;
 border-radius: 10px ;
 margin: 10% auto;
 position: relative;
 padding: 32px 30px 48px 30px;
}
	
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	
}
#send{
	border-radius: 50px;
	background-color: #1D6154;
	width: 179px;
	height: 36px;
	color: #fff;
	margin: auto;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 40px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#photo{
    display: none;
    max-height: 169px;
    max-width: 500px;
}
#gallery-title{
    display: flex;
   justify-content: center;
}
.imgModalGallery {
    height: 120px;
    width: 89.92px;
    object-fit: cover;
}
.fa-xmark{
    display: flex;
    justify-content: end;
	cursor: pointer;
    
}
#close{
    display: flex;
}
#closed{
    position: absolute;
    right:15px
}
.btn-addwork{
    display: block;
    cursor: pointer;
    width: 237px;
    height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
}
.delete-gallery{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: red;
}
#PhotoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8f1f7;
    height: 170px;
    width:420px;
    justify-content: center;
}
#addPhotoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#PhotoTitle {
    width: 420px;
    height: 51px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: #fff;
    margin-top: 40px;

}
#PhotoCategory{
    width: 420px;
    height: 51px;
    background-color: #fff;
    border: #fff;
    margin-top: 40px;
    margin-bottom: 65px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}
#fileInput{
    display: none;
}
.PhotoContent{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#valider{
    background-color: #a7a7a7;
	border: #a7a7a7;
    border-radius: 20px;
    width: 237px;
    height: 36px;
    margin-top: 60px;
    margin-bottom: 53px;
    cursor: pointer;
	color: #fff;
	font-family: 'Syne';
	font-weight: 700;
}

#img-icon{
    color: #a7a7a7;
    display: block;
	font-size: xxx-large;
	background-color: #e8f1f7;
}
.label-title{
    position: relative;
    right: 198px;
	bottom: -21px;
}
.label-category{
    position: relative;
    right: 179px;
	bottom:-23px
}
#return{
    
    cursor: pointer;
}

#PhotoContainer {
	text-align: center;
	
  }
  
  #PhotoContainer img {
	display: flex;
	max-height: 100%;
	width: auto;
	justify-content: center;
  }

  img::before{
	display: none;
  }
  #btnAddPhoto{
	display: none;
  }
  #btnChoosePhoto{
	width: 173px;
	height: 36px;
	background-color: #cbd6dc;
	border-radius: 30px;
	border: #cbd6dc;
  }
  .PhotoContent{
	background-color: #e8f1f7;
  }
  .black-band{
	background-color: #000;
  }
  .head{
	background-color: #000;
	width: 100%;
	position: absolute;
		left: 0;
		right: 0;
		top:0px;
		margin-bottom: 40px;
	display: none;

  }
  #modify-icon{
	color: white;
	background-color: #000;
	margin: auto;

  }
  #edition{
background-color: #000;
color: #fff;
display: flex;
align-items: center;
margin: 15px;
  }
  #black-head{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: auto;
background: #000;
  }
  #change-btn{
	border-radius: 30px;
	border: #000;
	width: 216px;
	height: 38px;
	font-family: "Work sans";
	font-weight: 800;
  }
#btn-modify-img{
	margin-left: 59px;
	margin-top: 20px;
}
.modify-btn{
	display: none;
}
